{% extends "shared/base_publica.html" %}
{% block subtitulo %}Login{% endblock %}
{% block conteudo %}
{% import "shared/macros.html" as macros %}
<style>
    .bg-cover {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url('/static/img/inicial.png');
        background-size: cover;
        background-position: center;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        backdrop-filter: blur(5px);
    }

    .content {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        max-width: 400px;
        width: 100%;
    }

    .form-control {
        margin-bottom: 15px;
    }

    .btn-primary {
        width: 100%;
    }

    .text-center a {
        color: #007bff;
    }

    .error {
        color: red;
        margin-bottom: 15px;
    }
</style>

<div class="bg-cover">
    <div class="overlay">
        <div class="content">
            <h1 class="text-center">Login</h1>
            <p class="text-center">Preencha os dados abaixo para acessar o Fitness Life</p>

            {% if request.query_params["erro"] == "credenciais_invalidas" %}
                <div class="error">
                    <p>Email ou senha inválidos. Tente novamente.</p>
                </div>
            {% endif %}

            <form action="/post_login" method="post">
                {{ macros.input_email('email', 'Email', attributes='required') }}
                {{ macros.input_password('senha', 'Senha', attributes='required') }}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <div class="text-center mt-3">
                <a href="/esqueceu_sua_senha">Esqueceu sua senha?</a>
                <div class="mt-3">
                    Não é cadastrado? <a href="/inscrever">Clique aqui</a> para se cadastrar.
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
